{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer les demande d'entente</h1>
    <ul>
    <li>
    {{ form(edit_form) }}
    </li>
        <ul class="record_actions">
            <li>
                <form action="{{ path('demandeentente')}}" method="post">
                <input type="submit" value="Retour à la liste" />
                </form>
            </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
