{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer les demandes d'entente</h1>
    <ul>
    
        {{ form(edit_form)}}
        <br>
        <ul class="record_actions">
            
                <form action="{{ path('demandeentente')}}" method="post">
                <input type="submit" value="Retour à la liste" />
                </form>
            
                <br>{{ form(delete_form) }}
            
        </ul>
   </ul>
{% endblock %}
