{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création de demande d'entente </h1>

    <ul>
    {{ form(form) }}
        <br>
        <ul class="record_actions">
            
        <form action="{{ path('demandeentente')}}" method="post">
            <input type="submit" value="Retour à la liste" />
        </form>
        </ul>
</ul>
{% endblock %}
