{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mise à jour de la lettre-clé</h1>
<hr>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('lettrecle') }}">
            Retour
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
