{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Assure</h1>

    <table class="record_properties">
        <tbody>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('assure') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('assure_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
