{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Recherche d'un dossier par numéro de patient</h1>
<hr>
    {{ form(rechercheDossierParPatient_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dossier') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
