parameters:
    database_driver:   pdo_mysql
    database_host:     192.168.220.153
    database_port:     ~
    database_name:     GSB_Patients
    database_user:     root
    database_password: toto01$1415

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
