{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Supprimer une personne</h1>
    <hr>
    {{ form(delete_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
