{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editer une personne</h1>
    <hr>
    {{ form(edit_form) }}

        <ul class="record_actions">

        <form action="{{ path('personne') }}" method="post">
            <input type="submit" value="retour"/>
        </form>
</ul>
{% endblock %}