{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création d'un Médecin</h1>
<hr>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('medecin') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
